<section id="GoNoGo-section">
    <div id="container-gonogo">

        <h2>Juego Go/No-Go</h2>
        <div id="encabezado">
            <button id="start" class="btn btn-custom mt-4">Iniciar</button>
        </div>

        <!-- Pantalla de introducción de etapa -->
        <div id="stage-intro" class="d-none">
            <h2 id="stage-title" class="mb-2"></h2>
            <p id="stage-instructions" class="mb-2"></p>
            <p id="stage-progress" class="text-secondary"></p>
            <button id="begin-stage" class="btn btn-custom mt-2">Comenzar Etapa</button>
        </div>

        <!-- Estímulo -->
        <div id="stimulus" class="mt-4" style="display: none;"></div>

        <!-- Resultados -->
        <div id="results" class="mt-4" hidden></div>

        <!-- Controles -->
        <div>
            <div id="section-si-no-otro" class="d-none">
                <button id="si" class="btn btn-custom">SÍ</button>
                <button id="no" class="btn btn-custom">NO</button>
                <button id="otro" class="btn btn-custom">OTRO</button>
            </div>

            <div id="section-colores" class="d-none">
                <button id="rojo" class="btn btn-custom">rojo</button>
                <button id="azul" class="btn btn-custom">azul</button>
                <button id="otro-color" class="btn btn-custom">Otro</button>
            </div>

            <div id="section-signals" class="d-none">
                <button id="xl" class="btn btn-custom">&gt;</button>
                <button id="l" class="btn btn-custom">/</button>
                <button id="xx" class="btn btn-custom">x</button>
                <button id="otro-signo" class="btn btn-custom">Otro</button>
            </div>

            <!-- Botón siguiente etapa -->
            <button id="next-stage" class="d-none"><a href="/tower" data-link="">Siguiente test</a> </button>
        </div>
    </div>
</section>