<section id="login" class="test-container">
    <div class="test-card">
        <img src="https://placehold.co/400x200?text=Inicia%20Sesion" alt="">

        <form id="login-form-id" class="login-form">
            <label for="user" class="card-subtitle">Ingresa tu número de identificación</label>
            <input type="number" id="user" placeholder="Número de identificación" required>
            <button type="submit" class="btn">Entrar</button>
        </form>
        <span id="message"></span>
    </div>

</section>