
<section id="stroop-section" class="d-none">
    <h2>Test de Stroop</h2>

    <div id="stroop-container">
        <button id="stroop-start-btn">Iniciar Test</button>

        <div id="stroop-test" class="hidden">
            <h2 id="stroop-task-title"></h2>
            <p id="stroop-instructions"></p>
            <p id="stroop-task-counter"></p>
            <button id="stroop-start-task-btn" class="hidden">Comenzar Tarea</button>
            <div id="stroop-timer" class="hidden"></div>
            <div class="stimulus" id="stroop-stimulus"></div>
            <div class="options" id="stroop-options"></div>
        </div>

        <div id="stroop-result" class="hidden"></div>
    </div>
</section>